<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>导航页-WAWS个人博客模板主题《今夕何夕》</title>
<meta name="keywords" content="blog" />
<meta name="description" content="blog" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="../../static/admin/images/bitbug_favicon.ico" type="image/ico">
<link href="../../static/blog/css/base.css" rel="stylesheet">
<link href="../../static/blog/css/m.css" rel="stylesheet">
<script src="../../static/blog/js/jquery-1.8.3.min.js" ></script>
<script src="../../static/blog/js/comm.js"></script>
<!--[if lt IE 9]>
    <script src="../../static/blog/js/modernizr.js"></script>
    <![endif]-->
</head>
<body>
<!--top begin-->
<header id="header">
  <div class="navbox">
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <div class="logo"><a href="/?page=1">WAWS个人博客</a></div>
    <nav>
      <ul id="starlist">
        <li><a href="/?page=1">首页</a></li>
        <li><a href="/list">最新文章列表</a></li>
        <li class="menu"><a href="/list2">文章类别</a>
          <ul class="sub">
            {% for category in category_list %}
            <li><a href="/list2?category_id={{ category.id}}">{{category.doc}}</a></li>
            {% endfor %}
          </ul>
          <span></span></li>
        <li><a href="/list3">网页设计心得</a></li>
        <li><a href="/daohang">优秀博客</a></li>
        <li><a href="/about">关于我</a></li>
        <li><a href="/time">时间轴</a></li>
      </ul>
    </nav>
    <div class="searchico"></div>
  </div>
</header>
<div class="searchbox">
  <div class="search">
    <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
      <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
      <input name="show" value="title" type="hidden">
      <input name="tempid" value="1" type="hidden">
      <input name="tbname" value="news" type="hidden">
      <input name="Submit" class="input_submit" value="搜索" type="submit">
    </form>
  </div>
  <div class="searchclose"></div>
</div>
<!--top end-->
<article>
  {% for key,value in url_prefect_dict.items() %}
  <div class="whitebg">
    <h2 class="htitle"><span class="hnav">可能，你觉得自己没有足够得优秀，但我始终相信你仍然在努力坚持着!</span>{{ key }}</h2>
    <ul class="site_tj">
      {% for url_dict in value %}
      <li><a href="{{ url_dict.url }}" target="_blank" title="{{ url_dict.name }}">{{ url_dict.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</article>
<footer>
  <div class="box">
    <div class="wxbox">
      <ul>
        <li><img src="../../static/blog/images/wxgzh.jpg"><span>微信公众号</span></li>
        <li><img src="../../static/blog/images/wx.png"><span>我的微信</span></li>
      </ul>
    </div>
    <div class="endnav">
      <p><b>站点声明：</b></p>
      <p>1、此为个人博客，均为WAWS本人设计，只为记录和学习互联网知识使用，希望可以将个人经验和技术让更多人看到，互相进步。</p>
      <p>2、所有文章有原创和转载、摘编、不做商业用途，如有侵犯他人的版权，及时联系，以做修正。联系邮箱：<a href="#" target="_blank">16601203140@163.com</a></p>
    </div>
  </div>
  <a href="#">
  <div class="top"></div>
  </a> </footer>
</body>
</html>
